@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <h3>Try simple CRUD Project and API connections</h3>
    <ul>
        <li><a href="test/">view CRUD project</a></li><br>
        <li><a href="swagger/">view API</a></li>
    </ul>